<h1 mat-dialog-title>{{ data.id ? 'Edit Shop' : 'Add Shop' }}</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Shop Name</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Shop Address</mat-label>
    <input matInput [(ngModel)]="data.address">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Rent</mat-label>
    <input matInput type="number" [(ngModel)]="data.rent">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave()">Save</button>
</div>
