<mat-tab-group ngSkipHydration>
    <!-- Employee Tab -->
    <mat-tab label="Employees">
      <div style="padding:1rem">

        <div style="display: flex;justify-content: space-between;margin-top: 1rem;align-items: baseline;">

          <button mat-raised-button color="primary" (click)="openEmployeeDialog()">Create Employee</button>
          <p style="font-size: 20px;"><b>List of Employees</b></p>

          <button mat-raised-button color="accent" (click)="exportEmployeesToExcel()">Download Employees</button>
        </div>
        <div style="margin-top:10px"></div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <ng-container matColumnDef="mobile">
            <th mat-header-cell *matHeaderCellDef>Mobile</th>
            <td mat-cell *matCellDef="let element">{{ element.mobile }}</td>
          </ng-container>

          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef>Address</th>
            <td mat-cell *matCellDef="let element">{{ element.address }}</td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="accent" (click)="openEmployeeDialog(element)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteEmployee(element.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      </div>
    </mat-tab>

    <!-- Attendance Tab -->
    <mat-tab label="Attendance">

      <div style="padding:1rem">


              <div style="display: flex;justify-content: space-between;    align-items: baseline;
              ">
                <div >
                <p style="font-size: 20px;"><b>List of Attendance</b></p>

              </div>

              <div>

                <mat-form-field appearance="outline">
                  <mat-label>From Date</mat-label>
                  <input matInput [matDatepicker]="pickerFrom" [(ngModel)]="fromDate">
                  <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                  <mat-datepicker #pickerFrom></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>To Date</mat-label>
                  <input matInput [matDatepicker]="pickerTo" [(ngModel)]="toDate">
                    <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                    <mat-datepicker #pickerTo></mat-datepicker>
                  </mat-form-field>
                  <button mat-raised-button color="accent" (click)="exportAttendanceToExcel()">Download Attendance</button>
                  <button mat-raised-button color="primary" (click)="openAttendanceDialog()">Add Attendance</button>
                </div>
              </div>

              <table mat-table [dataSource]="dataSourceAttendance" class="mat-elevation-z8">
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef>Index</th>
                  <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
                </ng-container>

                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Name</th>
                  <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                </ng-container>

                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef>Date</th>
                  <td mat-cell *matCellDef="let element">{{ element.date | date }}</td>
                </ng-container>

                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef>Status</th>
                  <td mat-cell *matCellDef="let element">{{ element.status }}</td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef>Actions</th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="accent" (click)="openAttendanceDialog(element)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteAttendanceEmployee(element.id)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsAttendance"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsAttendance;"></tr>
              </table>
      </div>
    </mat-tab>
  </mat-tab-group>
