<div class="app-container">
  <mat-toolbar color="primary" class="mat-elevation-z8">
    <button mat-icon-button *ngIf="isOverMode" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
    <span>Shop Management</span>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="mat-elevation-z8">


      <button mat-button routerLink="/employee" routerLinkActive="active-menu"  class="menu-button">
        <mat-icon>home</mat-icon>
        <span>Employee</span>
      </button>

      <button mat-button routerLink="/shop" routerLinkActive="active-menu" class="menu-button">
        <mat-icon>business</mat-icon>
        <span>Shop</span>
      </button>

      <button mat-button routerLink="/stock" routerLinkActive="active-menu" class="menu-button">
        <mat-icon>people</mat-icon>
        <span>Stock</span>
      </button>

    </mat-sidenav>

    <mat-sidenav-content>
      <div >
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>