<h2 mat-dialog-title>Mark Attendance</h2>
<div mat-dialog-content style="padding-top:10px">
  <form [formGroup]="attendanceForm" class="flex">

    <!-- Employee Selection -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Employee</mat-label>
      <mat-select formControlName="employeeId">
        <mat-option *ngFor="let employee of employees" [value]="employee.id">
          {{ employee.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Date Selection -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date"
      [max]="today" >
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- Status Selection -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option value="Present">Present</mat-option>
        <mat-option value="Absent">Absent</mat-option>
        <mat-option value="Leave">Leave</mat-option>
      </mat-select>
    </mat-form-field>

  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave()" [disabled]="attendanceForm.invalid">Save</button>
</div>
