<h2 mat-dialog-title>{{ data.id ? 'Edit Employee' : 'Create Employee' }}</h2>
<mat-dialog-content>
  <form [formGroup]="employeeForm">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Mobile</mat-label>
      <input matInput formControlName="mobile">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Address</mat-label>
      <input matInput formControlName="address">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Cancel</button>
  <button mat-button color="primary" (click)="saveEmployee()" [disabled]="!employeeForm.valid">Save</button>
</mat-dialog-actions>
