<h1 style="display: flex;justify-content: center;" mat-dialog-title>{{ data.id ? 'Edit Employee' : 'Add Employee' }}</h1>
<div mat-dialog-content style="padding-top:10px"  >
  <div style="display: flex;justify-content: center;flex-direction: column;align-items: center;">

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Employee Name</mat-label>
      <input matInput [(ngModel)]="data.name">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Phone Number</mat-label>
      <input matInput [(ngModel)]="data.mobile">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Address</mat-label>
      <input matInput  [(ngModel)]="data.address">
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions style="display: flex;justify-content: center;gap:1rem">
  <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
  <button  mat-flat-button color="primary" (click)="onSave()">Save</button>
</div>
